
<!-- <form action=<%= answer_path %> method="get"> -->

<div class="container">
  <div class="form_box">
    <form action="/answer" method="get">
      <input type="text" name="ask" height="50px">
      <input type="submit" value="Ask!">
    </form>
  </div>
</div>
