// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-color: pink;

  .container {
    border: 1px solid black;

  }
}

.form_box {
  width: 500px;
  margin: 20px auto;
}
